html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(105, 105, 105);
    height: 100%;
}

body {
    margin: 0 !important;
}

p {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

img {
    display: block;
    max-width: 90vh;
    max-height: 90vh;
    margin-left: auto;
    margin-right: auto;
}

.container {
    min-height: 96vh;
    background: #fbfbfb;
    margin: 1rem;
    overflow: auto;
}

.main {
    color: rgb(15, 15, 15);
    margin-left: 1rem;
    margin-right: 1rem;
}

